.form-tit{
  padding: 10px 0 0;
  color: $black;
  font-weight: 700;
}
.txt-number{
  word-wrap: break-word;
}
.explain {
  color: $black;
  text-align: left;
  padding: 0 10px 20px;
  font-size: 14px;
  &-txt {
    margin: 0;
    font-weight: normal;
  }
  p {
    margin: 0;
  }
}