@import './_variables.scss';
@import './navbar.scss';
@import './dialog.scss';
@import './person.scss';
@import './view.scss';
@import './charts.scss';
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  .is-component {
    overflow: hidden;
  }
}

#app {
  height: 100%;
  .is-component {
    overflow-y: hidden;
  }
  .scroll_wrap {
    flex: 1;
    width: 100%;
    >.el-container {
      height: 100%;
      .el-aside {
        height: 100%;
      }
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.flex {
  display: flex;
  &-center {
    align-items: center;
  }
  &-jf {
    @each $status,
    $prop in (between, space-between),
    (around, space-around),
    (center, center) {
      &-#{$status} {
        justify-content: $prop;
      }
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
  }
}

.text-center {
  text-align: center
}

//main-container全局样式
.app-wrapper {
  height: 100%;
  background-image: url(./assets/images/bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex; // 图表样式
  .v-charts-component-loading {
    background-color: hsla(0, 0%, 100%, .1);
  } //全局重置element样式
  .container {
    margin: 15px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: rgba(125, 0, 0, .2);
    &-main {
      height: calc(100% - 40px);
      display: flex;
      .aside {
        max-width: 325px;
      }
    }
    .aside {
      display: flex;
    }
    .tree {
      width: 100%;
      padding: 12px 0;
      flex: 1;
      display: flex;
      overflow: hidden;
      &-box {
        border: 1px solid $view-color;
        background-color: rgba(0, 0, 0, .15);
        width: calc(100% - 12px);
        margin: 0 0 12px 12px;
        flex: 1;
        display: flex;
      }
      &-scroll {
        overflow-y: scroll;
        margin-right: -18px;
        width: calc(100% + 18px);
      }
      .el-tree {
        background: transparent;
        color: $black;
        width: 100%;
        &-node {
          &__content {
            &:hover {
              background-color: #eee;
            }
          }
          &:focus {
            >.el-tree-node__content {
              background-color: #eee;
            }
          }
        }
      }
    }
    .el-table {
      color: $black;
      background-color: inherit;
      &--enable-row-hover,
      &__body {
        tr {
          &:hover {
            >td {
              background-color: rgba(0, 0, 0, .1);
            }
          }
        }
      }
      &__empty-text {
        color: $black * 2;
      }
      thead {
        color: $black;
      }
      tr {
        background-color: rgba(0, 0, 0, .1);
      }
      th {
        background-color: inherit;
        &.is-leaf {
          border-bottom: 1px solid $view-color;
        }
      }
      &--border,
      &--group {
        border: 1px solid $view-color;
        &::before,
        &::after {
          background-color: $view-color;
        }
      }
      &--border {
        border-right: none;
        border-bottom: none;
        th,
        td {
          border-right: 1px solid $view-color;
        }
        td,
        th.is-leaf {
          border-bottom: 1px solid $view-color;
          padding:10px 0;
        }
      }
    }
  }
  .content-tree {
    height: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    &-scroll {
      height: 100%; // width: 100%;
      margin-right: -17px;
      overflow-y: scroll;
    }
  }
  .setting-dialog {
    .el-dialog {
      background-image: none !important;
      border-radius: 10px;
      &__title{
        color: inherit;
      }
      &__header {
        padding: 10px;
        color: #fff;
        background-color: $view-color;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      &--center{
        .el-dialog{
          &__body{
            padding: 20px;
          }
        }
      }
      &__body {
        padding: 20px;
      }
      &__footer {
        padding: 10px 20px;
        background-color: #dfdfdf;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .btn {
          padding: 8px 15px;
          &-primary {
            border: 1px solid $view-color;
            background-color: $view-color;
            color: #fff;
            &:focus,
            &:hover {
              color: #fff;
              background-color: $view-color * 1.1;
            }
          }
        }
      }
      &__headerbtn {
        top: 12px;
        right: 12px;
        .el-dialog__close {
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
  .el-dialog {
    margin: 0 auto;
    background-image: url(./assets/images/dialog-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &__header{
      &btn{
        top: 10px;
      }
    }
    &--center {
      .el-button {
        padding: 8px 20px;
        &.mini {
          padding: 6px;
        }
        &+.el-button {
          margin-left: 5px;
        }
      }
      .el-dialog {
        &__body {
          padding: 0 20px 20px;
          .el-form {
            border: 1px solid #999;
            background-color: rgba(255, 255, 255, .4);
            &.auto {
              .el-row {
                padding-left: 0;
              }
            }
            .el-row {
              padding-left: 5px;
              &.padded-10 {
                padding-bottom: 10px;
                >.el-col {
                  padding: 0 5px;
                }
              }
              >.el-row {
                border-bottom: none !important;
              }
              &:not(:last-child) {
                border-bottom: 1px solid #999;
              }
            }
          }
        }
      }
    }
    &__body {
      padding: 0 20px 20px;
      .footer {
        text-align: center;
        padding-top: 10px;
      }
    }
  }
  .el-input {
    &__prefix,
    &__suffix {
      color: #999 !important;
    }
  }
  .el-input,
  .el-textarea {
    &__inner {
      border: 1px solid #999 !important;
    }
  }
  .el-form-item {
    &--mini {
      margin-top: 6px;
    }
  }

  .main {
    padding: 0;
    display: flex;
    .aside {
      display: flex;
    }
    .content-aside {
      margin-top: 15px;
      height: calc(100% - 15px);
      display: flex;
      flex-direction: column;
      background-color: #fff; // margin-right: 6px;
      flex: 1;
      .aside-tit {
        line-height: 48px;
        color: #fff;
        position: relative;
        background-color: $view-color;
        span {
          margin-left: 25%;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 25px;
          top: 50%;
          transform: rotate(45deg) translateY(-50%);
          width: 8px;
          height: 8px;
          border-width: 0 0 2px 2px;
          border-color: #fff;
          border-style: solid;
        }
      }
      .el-tree {
        padding: 15px 20px 0 20px;
        max-width: 280px; // overflow-x: scroll;
        flex: 1;
        color: $black;
        .el-tree-node__expand-icon {
          color: #868686;
          font-size: 16px;
        }
      }
    }
    .content-main {
      padding: 15px;
      display: flex;
      flex-direction: column; // margin-left: 290px;
    }
  }
  .el-breadcrumb__item:last-child .el-breadcrumb__inner a {
    color: $black;
  }
  .btn-danger {
    background-color: $view-color;
    border-color: $view-color;
    border-radius: 10px;
    padding: 10px 14px;
    margin-bottom: 10px;
  }
  .cell {
    .el-button {
      &--danger {
        background-color: $view-color;
        border-color: $view-color;
      }
      &--primary {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
}

.tab-search {
  margin: 0 0 10px 12px;
  border: 1px solid $black;
  .search-group {
    padding: 12px 5px;
    .search-button {
      padding-left: 40px;
      button {
        padding: 5px 15px;
        border: 1px solid#999;
      }
      &.inline {
        display: inline-block;
      }
    }
  }
  .input-label {
    font-size: 13px;
    display: inline-block;
    padding: 0 10px 0 15px;
    ~.el-input {
      width: auto;
    }
  }
  .el-input {
    &__inner {
      height: 24px;
      width: 115px;
      line-height: 24px;
      border-radius: inherit;
    }
  }
  .el-select {
    .el-input {
      &__inner {
        width: 145px;
      }
    }
  }
  .el-select-dropdown__empty {
    padding: 5px 0;
  }
}

.detail-tit {
  margin: 0;
  padding: 5px 0;
}

.table {
  flex: 1;
  display: flex;
  flex-direction: column;
  &-container {
    border: 1px solid $black;
    padding: 15px 10px;
    margin-left: 12px;
    flex: 1; // flex-direction: column;
    &.el-scrollbar {
      .el-scrollbar__wrap {
        overflow-x: auto;
      }
    }
    .table-tit {
      .el-button {
        padding: 8px 20px;
        margin: 0 5px 3px;
        &--danger {
          background-color: $view-color;
          border-color: $view-color;
        }
      }
    }
    .el-table {
      &.detail-table {
        td {
          padding: 5px 0;
        }
      }
      &--border {
        border: 1px solid $black;
        td,
        th {
          border-right: 1px solid $black;
        }
      }
      thead {
        color: $black;
        font-weight: 300;
      }
      td {
        border-bottom: 1px solid $black;
        padding: 0;
      }
      th {
        >.cell {
          line-height: 23px;
        }
        &.is-leaf {
          border-bottom: 1px solid $black;
        }
        background-color: #f0e8e1;
        padding: 6px 0;
      }
      color: $black * 1.2;
    }
    .form-label {
      display: inline-block;
      padding: 8px 0;
    }
    .form-content{
      margin-left: 15px;
    }
    .form-table-tit {
      padding: 3px 0;
      text-align: center;
    }
    .el-form-item {
      &--mini {
        .el-form-item {
          &--mini {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
      &__label {
        padding: 0 5px 0 0;
      }
    }
  }
  &-center {
    height: calc(100% - 42px);
  }
  &-footer {
    padding-top: 10px;
    overflow: hidden;
    .el-pagination {
      float: right;
      width: 60%;
      padding-right: 5%;
      &.is-background .el-pager li {
        background-color: rgba(0, 0, 0, .3);
        color: #fff;
        &:not(.disabled) {
          &:hover {
            color: $view-color;
          }
          &.active {
            background-color: $view-color;
            color: #fff;
          }
        }
      }
    }
  }
}
