$nav-height: 108px;
.content-view{
  min-height: $nav-height;
  overflow: hidden;
  background-image: url(./assets/images/app-title.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  h1{
    margin: 0;
    float: left;
    font-size: 30px;
    height: $nav-height;
    display: flex;
    padding-left: 70px;
    align-items: center;
    a{
      color: $black;
      text-decoration: none;
      display: block;
    }
  }
  .nav-logo{
    vertical-align: sub;
  }
  .content-btn{
    display: inline-flex;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: $view-color;
    border: 1px solid $view-color;
    color: #fff;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    padding: 6px 12px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: bold;
    align-items: center;
    i{
      margin-right: 5px;
      color: inherit;
      font-size: 20px;
      font-weight: normal;
    }
  }
  .content-nav{
    float: right;
    display: flex;
    flex-direction: column;
  }
  .content-row{
    padding: 0 10px;
  }
}
.content-menu {
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  color: #fff;
  padding-right: 15vw;
  &::before,&::after{
    content: '';
    display: table;
    clear: both;
  }
  .menu-item {
    padding: 0 10px;
    line-height: 48px;
    height: 48px;
    text-align: center;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    &.active:hover{
      cursor: pointer;
    }
  }
}